html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Trebuchet MS, sans-serif;
    font-size: 14px;
    color: #848484;
}

.menu-settings{
    z-index: 4;
    position: relative;
    width: 40px;
    background-color: #333333;
    vertical-align: top;
    height: 100vh;
    color: #9B9B9B;
    margin: 0;
}

.top {
    padding: 0;
    padding-top: 6px;
    margin: 0;
}

.bottom{
   position: absolute;
   padding: 0;
   margin: 0;
   bottom: 0;
   width: 100%;
   padding-bottom: 6px;
}

.menu .menu-item{
    position: relative;
    padding-left: 30px;
    width: auto;
}

.menu-item__checkbox {
    position: absolute;
    top: 0;
    right: -2px;
    height: 100%;
    opacity: 0;
    pointer-events: none;
}

.menu li{
    padding-top: 8px;
    list-style-type: none;
    /*margin-bottom: 1px;*/
}

.menu li:hover{
    background-color: #444444;
}

.menu-item {
    cursor: pointer;
    user-select: none;
    position:relative;
}

.menu-text{
    padding-left: 6px;
    color: #9B9B9B;
    font-size: 0px;
    margin-top:0;
    margin-bottom:0;
}

.menu-settings:hover{
    width: 250px;
}

.menu-settings:hover .menu-text{
    font-size: 14px;
}

.menu-item .inner-menu{
    position: absolute;
    left:100%;
    top: 0;
    padding: 0;
    display:none;
    background-color: #333333;
    font-family: Trebuchet MS, sans-serif;
}

.menu-item:hover .inner-menu{
    display:block;
}

.menu-item:hover .inner-menu div{
    padding:10px;
    background-color: #777;
    color:#ccc;
}

.background-icon {
    width: 50px;
    height: 24px;
    background-repeat: no-repeat;
    background-position-x: 6px;
    background-position-y: center;
}

.inner-menu li{
    height: auto;
    padding-left: 10px;
   /* margin-bottom: 3px;*/
    width: auto;
    padding-right: 10px;
    padding-bottom: 8px;
}

.menu-item > a {
    text-decoration: none;
}

#move {
    border-top: 1px solid #777;
}

.use {
    background-color: #3F3F3F;
}

.params {
    background-image: url('../icon/params.png');
}

.clock {
    background-image: url('../icon/clock.png');
}

.tools {
    background-image: url('../icon/tools.png');
}

.eye {
    background-image: url('../icon/eye.png');
}

.note {
    background-image: url('../icon/note.png');
}

.info {
    background-image: url('../icon/info.png');
}

.watch {
    background-image: url('../icon/watch.png');
}

.plus {
    background-image: url('../icon/plus.png');
}

.minus {
    background-image: url('../icon/minus.png');
}

.exit {
    background-image: url('../icon/exit.png');
}


.graph {
    z-index: 1;
    top: 0;
    left: 40px;
    position: absolute;
    display: inline-block;
    vertical-align: top;
    height: 100vh;
    width: calc(100vw - 40px);
    padding: 0;
}

.parent_modal {
    z-index: 3;
    width: calc(100% - 40px);
    height: 100vh;
    top: 0;
    left: 40px;
    overflow: auto;
    position: absolute;
    background-color: rgba(136,136,136,0.2);
}

.visual_settings_menu {
    background-color: #FEFEFE;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    /*border: solid 1px #D9D9D9;*/
    border-radius: 2px;
    margin: 40px auto;
    width: 40%;
    height: 300px;
    max-width: 100vw;
    min-width: 400px;
    max-height: 100vh;
    /*overflow: auto;*/
}

.container__item {
    display: block;
    margin-bottom: 20px;
    float: left;
    width: 100%;
}

.container__info {
    height: 17%;
    /*margin-top: 10px;*/
    text-align: center;
    border-bottom: solid 1px #C2C2C2;
}

.container__param {
    height: calc(66% - 30px);
    /* margin: 30px; */
    margin: 0 30px 0 30px;
    padding-top: 30px;
    overflow-y: auto;
}

.container__aftertabs {
    border-top: solid 1px #C2C2C2;
    height: 17%;
}

.container__info_item {
    width: 100%;
    height: 100%;
}

.menu_info {
    margin-top: 14px;
    user-select: none;
    font-size: 17px;
    display: inline-block;
    color: #4F4F4F;
    font-weight:bold
}

.text_box {
    user-select: none;
    font-size: 16px;
    display: inline-block;
    color: #737373;
}    

.color_box {
    display: inline-block;
    float: right;
}

.pointer {
    cursor: pointer;
}


/* !!!!!!!!!! HELP BAR STYLE !!!!!!*/

.help_bar {
    top: -60px;
    margin-left: 40px;
    margin-top: 0;
    position: fixed;
    z-index: 3;
    min-height: 50px;
    background-color: rgba(232, 23, 23, 0.9);
    width: calc(100% - 40px);
    box-shadow: 0 6px 4px rgba(0,0,0,0.3);
    transition: all 0.3s ease-in-out;
}

.help_bar_move {
    transform: translate(0, 60px);
    transition-timing-function: linear;
}

.help_bar_text {
    user-select: none;
    font-size: 16px;
    color: #222222;
    margin-left: 20px;
    margin-top: 5px;
}

/* !!!!!!!!!!!!!!!!!!!!!! */

.hide_modal {
    display: none !important;
}

.btn {
    color: #565656;
    font-weight:bold;
    cursor: pointer;
    padding: 6px 16px 6px 16px;
    display: inline-block;
    user-select: none;
    /*border: solid 1px #CCCCCC;*/
    border-radius: 3px;
    margin-top: 10px;
}

.default-btn {
    background-color: #F3F3F3;
    /*border-radius: 2px;*/
    margin-left: 30px;
}

.default-btn:hover {
    box-shadow: inset 0 0 10px rgba(0,0,0,0.3);
    background-color: #F7F7F7;
    /*border: solid 1px #BCBCBC;*/
}

.ok-btn {
    color: #FFFFFF;
    background-color: #4EE47D;
    /*border-radius: 2px;*/
    margin-right: 30px;
}

.ok-btn:hover {
    box-shadow: inset 0 0 10px rgba(0,0,0,0.3);
    background-color: #5AE786;
    /*border: solid 1px #18FF14;*/
}

.cancel-btn {
    color: #FFFFFF;
    background-color: #DF5D5D;
    /*border-radius: 2px;*/
    margin-right: 30px;
}

.cancel-btn:hover {
    box-shadow: inset 0 0 10px rgba(0,0,0,0.3);
    background-color: #E45353;
    /*border: solid 1px #FF0507;*/
}

.button {
    float: left;
    display: block;
    width: 100%;
}

.left-btn {
    display: inline-block;
}

.right-btn {
    float: right;
    display: inline-block;
}

.input-color {
    cursor: pointer;
}

.selected {
    background-color: #444444;
}

.helpler {
    z-index: 20;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    background-color: rgba(200,200,200,0.5);
}

canvas {
    z-index: 2;
    position: inherit;
}

.hide{
    display: none;
    /*pointer-events: none;*/
}

.back {
    top: 0;
    position: absolute;
}

.back:hover {
    width: 40px;
}

.load-gif {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 5;
}

.current-instr {
    user-select: none;
    z-index: 3;
    position: absolute;
    left: 50px;
    top: 0;
    margin-top: 5px;
    padding: 5px;
    background: #fff;
    border: 1px solid #333;
}

.cls {
    z-index:20;
    width: 84px;
    height: 32px;
    position: absolute;
    bottom: 0;
    right: 0;
}






