.utill__window {
	position: fixed;
	right: 0;
	top: 0;
	min-width: 200px;
	padding: 10px;
	border: 1px solid #CCC;
	background: #EEE;
	opacity: 0;
	pointer-events: none;
	z-index: 10;
}

.utill__container {
	margin-bottom: -10px;
}

.utill__window.active {
	opacity: 0.3;
	pointer-events: auto;
	transition: opacity 100ms linear;
}

.utill__window:hover {
	opacity: 1;
}

.utill__option {
	margin-bottom: 10px;
}

.utill__text {
	margin-left: 5px;
	font-family: sans-serif;
	font-size: 16px;
}

.utill__input-text {
	margin: 2px;
	padding: 2px 7px;
	font-size: 16px;
}

.utill__button {
	margin: 2px;
	padding: 5px 10px;
	background: #0AF;
	outline: none;
	border: none;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
	transition: transform 100ms linear;
}

.utill__button.quite {
	background: #F50;
	float: right;
}

.utill__button:active {
	transform: scale(0.9);
}
