body{

}
section.users{
    padding: 15px;
    background-color: #444;
    overflow: auto;
    height: 100vh;
    width: 25%;
    box-sizing: border-box;
    float: left;
}
section.actions{

}
section.users li{
	display: block;
	vertical-align: top;
	

	padding: 5px 10px;
	padding-left: 40px;
	transition: .3s;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: left 5px;
	background-size: 35px auto;
	min-height: 45px;
	color: #fff;
}
section.users li:hover, section.users li.active{

}
section.users li h4{
	font-size: 15px;
}
section.users li p{
	display: none;
	font-size: 13px;
	margin-top: 5px;
	color: #aaa;
}
section.users li.admin{	background-image: url("../img/admin.png");}
section.users li.moderator{	background-image: url("../img/moderator.png");}
section.users li.guest{	background-image: url("../img/guest.png");}
	
section.users #add{
	display: block;
	height: 40px;
	margin-top: 5px;
	background-color: transparent;
	border: 0;
	background-image: url("../img/add.png");
	background-repeat: no-repeat;
	background-size: 35px auto;
	background-position: left center;
	cursor: pointer;
	padding-left: 40px;
	font-family: inherit;
	color: #ccc;
}
section.users #add:hover, section.users li:hover h4{
	color: #3FAA6F;
}
/*=======================*/

form.editor{
	display: none;
	
	background-color: #fff;
	box-sizing: border-box;
	padding: 15px;

}
form.editor input, form.editor label, form.editor textarea{
	display: block;
}
form.editor  input[type='text'], form.editor  input[type='password']{
	display: block;
	padding: 5px 8px;
	border: 0;
	background-color: #f5f5f5;
	box-shadow: 2px 2px 3px #ccc inset;
	outline: none;
	font-size: 15px;
	min-width: 50%;
}
form.editor textarea{
	display: block;
	padding: 5px 8px;
	border: 0;
	background-color: #f5f5f5;
	box-shadow: 2px 2px 3px #ccc inset;
	outline: none;
	font-size: 15px;
	min-width: 50%;
	resize: none;
	height: 100px;
	font-size: 14px;
}
form.editor input[type='button']{
	color: #3FAA6F;
	font-size: 15px;
	border: 0;
	background: 0;
	cursor: pointer;
	padding: 7px;
	border-radius: 5px;
}
form.editor input[type='button']:hover{
	background-color: #e6e6e6;
}
form.editor fieldset{
	display: block;
	margin: 15px 0;
	border: 0;

}
form.editor article {
	clear: both;
}
form.editor label{
	margin-bottom: 15px;
	font-size: 13px;
}
form.editor article label{
	width: 50%;
	float: left;
	background-image: url('../img/admin.png');
	background-position: left center;
	background-repeat: no-repeat;
	background-size: 35px auto;
	padding: 10px;
	padding-left: 40px;
	
	
}
form.editor article label.user2{
	background-image: url('../img/moderator.png');
}
form.editor article label.user3{
	background-image: url('../img/guest.png');
}
form.editor article #remove{
	border: 0;
	background: 0;
	width: 35px;
	height: 35px;
	padding: 10px;
	font-size: 0;
	
	border-radius: 5px;
	float: right;
	cursor: pointer;
	background-image: url("../img/remove.png");
	background-size: 75% 75%;
	background-position: center center;
	background-repeat: no-repeat;
}
form.editor article #remove:hover{
	background-color: #e5e5e5;
}
form.editor fieldset{
	width: 50%;
	float: right;
	
}
form.editor select{
	border: 0;
	font-size: 15px;
	font-family: inherit;
	outline: none;
}


.actions{
    padding: 15px;
    overflow: auto;
    height: 100vh;
    box-sizing: border-box;
    background-color: #efefef;
}
#addUser{
    display: block;
    display: none;
    background-color: #fff;
    padding: 10px;
}
#addUser h2{
    margin-bottom: 20px;
    color: #1e824c;
}
#addUser .col-2{
    margin-bottom: 15px;
    font-size: 0;
}
#addUser .col-2>*{
    display: inline-block;
    vertical-align: top;
    width: 47.5%;
    margin-right: 5%;
    font-size: 15px;
}
#addUser .col-2>*:nth-child(2n){
    margin-right: 0;
}
#addUser fieldset{
    display: block;
    border: 0;
}
#addUser label{
    display: block;
    margin-bottom: 10px;
}
#addUser label span{
    display: block;
}
#addUser label input, #addUser label textarea, #addUser label select{
    font-family: inherit;
    background-color: #efefef;
    border: 0;
    font-size: 100%;
    padding: 7px 15px;
    box-sizing: border-box;
    width: 100%;
    border-bottom: 2px solid #ddd;
    color: #222;
    outline: none;
    resize: none;
}
.button{
    padding: 7px 15px;
    font-family: inherit;
    background: transparent;
    color: #1e824c;
    border: 1px solid #1e824c;
    font-size: 90%;
    cursor: pointer;
    outline: none;
    transition: .2s;
}
.button:hover{
    background-color: #1e824c;
    color: #fff;
}